@charset "UTF-8";

/* Цвета немного темнее при наведении
&:hover{
	 background-color: darken($color: #ffa500, $amount: 5%);
}
*/

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

body {
  height: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.container {
  max-width: 1230px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
}

body.locked {
  overflow: hidden;
}

@-webkit-keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/*================================================================================*/

/* Цвета немного темнее при наведении

&:hover{
	 background-color: darken($color: #ffa500, $amount: 5%);
}
*/

/* BtnMenu_box-shadow

 .menu__btn{
	  position: relative;
	  width: 40px;
	  height: 40px;
	  border-radius: 3px;
	  background-color: #000;
	  border: none;

	  &::after{
			position: absolute;
			content: '';
			width: 12px;
			height: 2px;
			border-radius: 1px;
			background-color: #000;
			top: 15px;
			left: 14px;
			box-shadow: 0 4px 0 0 #000, 0 8px 0 0 #000;
	  }
 }
 */

@font-face {
  font-family: "DM Sans";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/DMSans/DMSans-Regular.eot");
  src: local("DM Sans"), url("../fonts/DMSans/DMSans-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/DMSans/DMSans-Regular.woff2") format("woff2"), url("../fonts/DMSans/DMSans-Regular.woff") format("woff"), url("../fonts/DMSans/DMSans-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "DM Sans";
  font-weight: 500;
  font-style: normal;
  src: url("../fonts/DMSans/DMSans-Medium.eot");
  src: local("DM Sans"), url("../fonts/DMSans/DMSans-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/DMSans/DMSans-Medium.woff2") format("woff2"), url("../fonts/DMSans/DMSans-Medium.woff") format("woff"), url("../fonts/DMSans/DMSans-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "DM Sans";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/DMSans/DMSans-Bold.eot");
  src: local("DM Sans"), url("../fonts/DMSans/DMSans-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/DMSans/DMSans-Bold.woff2") format("woff2"), url("../fonts/DMSans/DMSans-Bold.woff") format("woff"), url("../fonts/DMSans/DMSans-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Nunito";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/Nunito/Nunito-Regular.eot");
  src: local("Nunito"), url("../fonts/Nunito/Nunito-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Nunito/Nunito-Regular.woff2") format("woff2"), url("../fonts/Nunito/Nunito-Regular.woff") format("woff"), url("../fonts/Nunito/Nunito-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Nunito";
  font-weight: 500;
  font-style: normal;
  src: url("../fonts/Nunito/Nunito-Medium.eot");
  src: local("Nunito"), url("../fonts/Nunito/Nunito-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Nunito/Nunito-Medium.woff2") format("woff2"), url("../fonts/Nunito/Nunito-Medium.woff") format("woff"), url("../fonts/Nunito/Nunito-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Nunito";
  font-weight: 600;
  font-style: normal;
  src: url("../fonts/Nunito/Nunito-SemiBold.eot");
  src: local("Nunito"), url("../fonts/Nunito/Nunito-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Nunito/Nunito-SemiBold.woff2") format("woff2"), url("../fonts/Nunito/Nunito-SemiBold.woff") format("woff"), url("../fonts/Nunito/Nunito-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "Nunito";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/Nunito/Nunito-Bold.eot");
  src: local("Nunito"), url("../fonts/Nunito/Nunito-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Nunito/Nunito-Bold.woff2") format("woff2"), url("../fonts/Nunito/Nunito-Bold.woff") format("woff"), url("../fonts/Nunito/Nunito-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Nunito Sans";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/NunitoSans/NunitoSans-Regular.eot");
  src: local("Nunito Sans"), url("../fonts/NunitoSans/NunitoSans-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/NunitoSans/NunitoSans-Regular.woff2") format("woff2"), url("../fonts/NunitoSans/NunitoSans-Regular.woff") format("woff"), url("../fonts/NunitoSans/NunitoSans-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Nunito Sans";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/NunitoSans/NunitoSans-Bold.eot");
  src: local("Nunito Sans"), url("../fonts/NunitoSans/NunitoSans-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/NunitoSans/NunitoSans-Bold.woff2") format("woff2"), url("../fonts/NunitoSans/NunitoSans-Bold.woff") format("woff"), url("../fonts/NunitoSans/NunitoSans-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Poppins";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/Poppins/Poppins-Regular.eot");
  src: local("Poppins"), url("../fonts/Poppins/Poppins-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Poppins/Poppins-Regular.woff2") format("woff2"), url("../fonts/Poppins/Poppins-Regular.woff") format("woff"), url("../fonts/Poppins/Poppins-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Poppins";
  font-weight: 600;
  font-style: normal;
  src: url("../fonts/Poppins/Poppins-SemiBold.eot");
  src: local("Poppins"), url("../fonts/Poppins/Poppins-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Poppins/Poppins-SemiBold.woff2") format("woff2"), url("../fonts/Poppins/Poppins-SemiBold.woff") format("woff"), url("../fonts/Poppins/Poppins-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "Nova Mono";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/NovaMono/NovaMono-Regular.eot");
  src: local("Nova Mono"), url("../fonts/NovaMono/NovaMono-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/NovaMono/NovaMono-Regular.woff2") format("woff2"), url("../fonts/NovaMono/NovaMono-Regular.woff") format("woff"), url("../fonts/NovaMono/NovaMono-Regular.ttf") format("truetype");
}

/*==============================================================================*/

/* Подключаемые шрифты
// ?:DMSans
@include font-dmsans-regular ;
@include font-dmsans-medium;
@include font-dmsans-bold;

// ?Nunito
@include font-nunito-regular;
@include font-nunito-medium;
@include font-nunito-semibold;
@include font-nunito-bold;

//?NunitoSans
@include font-nunitosans-regular;
@include font-nunitosans-bold;

// ?Poppins
@include font-poppins-regular;
@include font-poppins-semibold;

// ?NovaMono
@include font-novaMono-regular;
*/

/*==============================================================================*/

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Nunito Sans";
  font-weight: 400;
  font-style: normal;
  line-height: 1.75;
  font-size: 1.6rem;
}

.vhidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.btn {
  text-decoration: none;
  display: inline-block;
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  font-size: 2rem;
  line-height: 1.35;
  min-width: 223px;
  min-height: 65px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 18px;
  background-color: #fb4f5c;
  color: #F8EEEF;
  -webkit-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

.btn:hover {
  background-color: #dc3c54;
}

.btn:focus {
  outline: none;
  background-color: #dc3c54;
}

.wrapper {
  max-width: 1443px;
  min-width: 280px;
  min-height: 100%;
  margin: 0 auto;
  overflow-x: hidden;
}

.about__body .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

.about__photo {
  position: relative;
  max-width: 320px;
  max-height: 391px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about__img {
  max-width: 282px;
  max-height: 353px;
  border-radius: 20px;
  overflow: hidden;
}

.about__bg {
  position: absolute;
  left: 30px;
  top: 30px;
  width: 282px;
  height: 353px;
  background: url("../img/Triangle-2.png") right bottom/contain no-repeat;
  z-index: -1;
}

.about__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 606px;
  margin: 67px 0px 0px 0px;
}

.about .description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 330px;
}

.about .description__title {
  font-family: "Nunito", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 2.8rem;
  line-height: 1.3571428571;
}

.about .description__text {
  font-size: 1.8rem;
  line-height: 1.3611111111;
  margin: 16px 0px 47px 0px;
}

.about .description__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 28px;
}

.about .description__btns-portfolio {
  background-color: #fff;
  color: #fb4f5c;
  border: 1px solid #fb4f5c;
  margin: 0px 0px 67px 0px;
  -webkit-transition: color 0.3s, background-color 0.3s;
  -o-transition: color 0.3s, background-color 0.3s;
  transition: color 0.3s, background-color 0.3s;
}

.about .description__btns-portfolio:hover {
  background-color: #dc3c54;
  color: #fff;
}

.about .description__programs {
  width: 100%;
}

.about .programs {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 26px;
}

.about .programs img {
  margin-right: 15px;
}

.about .programs__item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about .programs__item-percent {
  position: absolute;
  max-width: 272px;
}

.about .programs__item-bar {
  position: relative;
  min-width: 210px;
  font-size: 1.4rem;
  line-height: 1.3571428571;
}

.about .programs__item-bar::before {
  content: "";
  position: absolute;
  left: 0px;
  bottom: -20px;
  height: 8px;
  width: 100%;
  background-color: #c4c4c4;
}

.about .programs__item-bar::after {
  content: "";
  position: absolute;
  left: 0px;
  bottom: -20px;
  height: 8px;
  background-color: #fb4f5c;
}

.about .item-ps .programs__item-percent {
  left: 65%;
}

.about .item-ps .programs__item-bar::after {
  width: 70%;
}

.about .item-ai .programs__item-percent {
  left: 75%;
}

.about .item-ai .programs__item-bar::after {
  width: 80%;
}

.about .item-figma .programs__item-percent {
  left: 55%;
}

.about .item-figma .programs__item-bar::after {
  width: 50%;
}

.about__stats {
  margin: 94px 0px 0px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 100%;
  height: 92px;
  gap: 13px;
  padding: 0 20px;
  background-color: #F8EEEF;
}

.about__stats-item {
  text-align: center;
  font-family: "Nunito", sans-serif;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
}

.about__stats-item .counter {
  font-size: 1.2rem;
  line-height: 1.375;
}

.about__stats-item .counter-title {
  font-size: 1.1rem;
  line-height: 1.3636363636;
}

.contact {
  padding: 59px 0px 73px 0px;
}

.contact__title {
  font-family: "Nunito", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 2.8rem;
  line-height: 1.3571428571;
  margin: 0px 0px 41px 0px;
  text-transform: uppercase;
  text-align: center;
  color: #191018;
}

.contact__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
  max-width: 524px;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.6rem;
  line-height: 1.375;
}

.contact__form label {
  margin: 0px 0px 3.3px 0px;
}

.contact__form input,
.contact__form textarea {
  width: 100%;
  padding: 8.5px 8.5px 6.5px 8.5px;
  margin: 0px 0px 33px 0px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 3px;
}

.contact__form input:focus,
.contact__form textarea:focus {
  outline: 1px solid rgba(0, 0, 0, 0.4);
}

.contact__form textarea {
  margin: 23px 0px 0px 0px;
  resize: vertical;
}

.contact__form-btn {
  margin: 51px auto 51px;
}

.contact__maps iframe {
  max-width: 100%;
  width: 400px;
  height: 300px;
}

.footer {
  background-color: #fb4f5c;
  padding: 70px 0px 50px 0px;
}

.footer__body {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Nunito", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 2.4rem;
  line-height: 1.3333333333;
}

.footer__item {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px 0px 20px 0px;
}

.footer__item a {
  padding: 10px 0px 0px 0px;
  color: #fff;
}

.footer__social {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 25px 0px 0px 0px;
  gap: 10px;
}

.footer__social a {
  padding: 5px;
}

.greeting {
  margin: 80px 0px 50px 0px;
  overflow: hidden;
}

.greeting__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.greeting__photo {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: url("../img/Triangle-1.png") right/contain no-repeat;
}

.greeting__img {
  margin: 45px 0px 30px 0px;
  border-radius: 20px;
  overflow: hidden;
}

.greeting__text {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 57px auto 0px auto;
  padding: 0px 0px 50px 0px;
  max-width: 481px;
}

.greeting__hello {
  font-size: 2.8rem;
  line-height: 1.1428571429;
}

.greeting__title {
  font-family: "Nunito", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 5rem;
  line-height: 1.36;
}

.greeting__title-name {
  color: #fb4f5c;
}

.greeting__description {
  font-size: 1.8rem;
  line-height: 1.3333333333;
}

.greeting__btn {
  margin: 40px 0px 0px 0px;
}

nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fb4f5c;
  overflow: hidden;
  -webkit-transition: top 0.3s;
  -o-transition: top 0.3s;
  transition: top 0.3s;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 15px;
  padding-bottom: 15px;
}

.logo a {
  font-family: "Nova Mono", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 3.6rem;
  line-height: 1.3888888889;
  color: #F8EEEF;
  text-transform: uppercase;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 52px;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.menu__item-link {
  display: inline-block;
  position: relative;
  color: #F8EEEF;
  font-size: 2.4rem;
  line-height: 1.375;
  -webkit-transition: text-shadow 0.3s;
  -o-transition: text-shadow 0.3s;
  transition: text-shadow 0.3s;
}

.menu__item-link::before {
  content: "";
  position: absolute;
  bottom: -7px;
  left: 0;
  height: 6px;
  width: 24px;
  background-color: #F8EEEF;
  border-radius: 55px;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  -o-transition: transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.menu__item-link:hover {
  text-shadow: -0.2px 0.2px 0 #F8EEEF, -0.2px -0.2px 0 #F8EEEF, 0.2px -0.2px 0 #F8EEEF, 0.2px 0.2px 0 #F8EEEF;
}

.menu__item-link:hover::before {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.fixed__nav {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 111;
}

.burger {
  display: none;
  cursor: pointer;
}

.key-up {
  text-decoration: none;
  bottom: 0;
  color: inherit;
  font-family: inherit;
  font-size: 2rem;
  line-height: 1.5;
  display: block;
  position: fixed;
  bottom: 15px;
  right: 15px;
  width: 40px;
  height: 40px;
  padding: 5px;
  text-align: center;
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
  visibility: hidden;
  opacity: 0;
  -webkit-transition-property: opacity, visibility, background-color, -webkit-transform, -webkit-box-shadow;
  transition-property: opacity, visibility, background-color, -webkit-transform, -webkit-box-shadow;
  -o-transition-property: opacity, visibility, transform, background-color, box-shadow;
  transition-property: opacity, visibility, transform, background-color, box-shadow;
  transition-property: opacity, visibility, transform, background-color, box-shadow, -webkit-transform, -webkit-box-shadow;
  -webkit-transition-duration: 0.3s;
       -o-transition-duration: 0.3s;
          transition-duration: 0.3s;
  color: #fff;
  background-color: rgba(177, 175, 175, 0.446);
  -webkit-box-shadow: 0 0 10px #fff;
          box-shadow: 0 0 10px #fff;
  border-radius: 50%;
  cursor: pointer;
  z-index: 99;
}

.key-up:hover {
  background-color: rgba(177, 175, 175, 0.868);
}

.key-up-visible {
  -webkit-transform: rotate(0);
      -ms-transform: rotate(0);
          transform: rotate(0);
  visibility: visible;
  opacity: 1;
}

.latest-work {
  margin: 54px 0px 0px 0px;
}

.latest-work__title {
  font-family: "Nunito", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 3.8rem;
  line-height: 1.1052631579;
  padding: 33px 0px 74px 0px;
  text-align: center;
}

.latest-work__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.item__title {
  font-family: "Nunito", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 2rem;
  line-height: 1.5;
  margin: 25px 0px 10px 0px;
}

.item__description {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.7rem;
  line-height: 1.5882352941;
  margin: 0px 0px 45px 0px;
}

.testimonials {
  margin: 195px 0px 0px 0px;
  background-color: #F8EEEF;
  padding: 51px 0px;
}

.slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.slide__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #fff url("../img/icons/quotation-mark-icon.svg") no-repeat;
  background-position: 30px 50px;
  background-size: 41px 35px;
  max-width: 726px;
  border-radius: 60px 0px;
  padding: 17px 25px 40px 25px;
}

.slide__client {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 154px;
  height: 162px;
}

.slide__client-photo {
  width: 74px;
  height: 74px;
  border-radius: 50%;
}

.slide__client-name {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 1.8rem;
  line-height: 1.4444444444;
  padding: 8px 0px 0px 0px;
}

.slide__client-emotion {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.4rem;
  line-height: 1.8571428571;
  color: #fb4f5c;
}

.slide__reviews {
  text-align: center;
}

.slide__reviews-feedback {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.2rem;
  line-height: 2.1666666667;
  color: #5d616f;
}

.slide__reviews-rating {
  padding: 6px 0px;
}

.swiper-pagination-bullet {
  background-color: #f01212;
}

.swiper-pagination-bullet-active {
  background-color: #333333;
}

@media (min-width: 500px) {
  .about__stats {
    height: 144px;
  }

  .about__stats-item .counter {
    font-size: 1.5rem;
    line-height: 1.7666666667;
  }

  .about__stats-item .counter-title {
    font-size: 1.5rem;
    line-height: 1.6666666667;
  }
}

@media (min-width: 601px) {
  .about__photo {
    max-width: 410px;
    max-height: 502px;
  }

  .about__img {
    max-width: 361px;
    max-height: 452px;
  }

  .about__bg {
    width: 361px;
    height: 452px;
  }

  .testimonials {
    padding: 85px 0px 114px 0px;
  }

  .slide__body {
    padding: 52px 57px 52px 57px;
    background-size: 110px 86px;
  }

  .slide__client {
    width: 206px;
    height: 180px;
    margin: 0px 0px 20px 0px;
  }

  .slide__client-photo {
    width: 104px;
    height: 104px;
  }

  .slide__client-name {
    font-size: 2.4rem;
    line-height: 1.0833333333;
    padding: 20px 0px 4px 0px;
  }

  .slide__client-emotion {
    font-size: 1.8rem;
    line-height: 1.4444444444;
  }

  .slide__reviews-feedback {
    font-size: 1.8rem;
    line-height: 1.4444444444;
  }

  .slide__reviews-rating {
    padding: 12px 0px;
  }
}

@media (min-width: 621px) {
  .contact__maps iframe {
    width: 512px;
    height: 506px;
  }

  .footer {
    padding: 40px 0px 30px 0px;
  }

  .footer__social {
    padding: 0px 0px 0px 0px;
  }
}

@media (min-width: 775px) {
  .latest-work__title {
    font-size: 4.8rem;
    line-height: 0.875;
  }

  .latest-work__items {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-column-gap: 45px;
       -moz-column-gap: 45px;
            column-gap: 45px;
  }
}

@media (min-width: 808px) {
  .about__stats {
    height: 244px;
  }

  .about__stats-item .counter {
    font-size: 3.8rem;
    line-height: 1.4605263158;
  }

  .about__stats-item .counter-title {
    font-size: 2.6rem;
    line-height: 1.5;
  }
}

@media (min-width: 1020px) {
  .about__body .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .about__description {
    padding: 0px 0px 0px 30px;
  }

  .about .description {
    max-width: 606px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }

  .about .description__title {
    font-size: 4.8rem;
    line-height: 1.3625;
    max-width: 522px;
  }

  .about .description__text {
    font-size: 2.4rem;
    line-height: 1.3625;
  }

  .about .description__btns {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }

  .about .programs {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 14px;
  }

  .about__stats {
    margin: 216px 0px 0px 0px;
  }

  .contact__title {
    font-size: 4.8rem;
    line-height: 0.875;
  }

  .greeting__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .greeting__photo {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }

  .greeting__text {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -moz-text-align-last: left;
         text-align-last: left;
  }

  .key-up {
    bottom: 35px;
    right: 35px;
    width: 50px;
    height: 50px;
    font-size: 2.5rem;
    line-height: 1.6;
  }
}

@media (min-width: 1100px) {
  .about__stats-item .counter {
    font-size: 4.8rem;
    line-height: 1.3645833333;
  }

  .about__stats-item .counter-title {
    font-size: 3.6rem;
    line-height: 1.3611111111;
  }

  .contact__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .contact__form input,
  .contact__form textarea {
    padding: 14px;
  }

  .contact__form-btn {
    margin: 51px 0 0 0;
  }

  .footer__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }

  .footer__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .footer__item a {
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 10px;
  }
}

@media (max-width: 1449.98px) {
  .container {
    max-width: 1200px;
  }
}

@media (max-width: 991.98px) {
  .container {
    max-width: 970px;
  }
}

@media screen and (max-width: 991.98px) {
  .menu {
    position: fixed;
    background: #fb4f5c;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    display: none;
  }

  .menu.active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    pointer-events: all;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 12px;
    z-index: 22;
    -webkit-animation: fade 0.1s linear;
            animation: fade 0.1s linear;
  }

  .burger {
    display: block;
    position: relative;
    height: 20px;
    width: 30px;
    z-index: 102;
    cursor: pointer;
  }

  .burger.active-burger:before {
    background: "white";
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    -webkit-transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
    -o-transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
    transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
    top: 8px;
  }

  .burger.active-burger:after {
    background: "white";
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 10px;
    -webkit-transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
    -o-transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
    transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
  }

  .burger.active-burger span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }

  .burger:before,
  .burger:after {
    content: "";
    position: absolute;
    height: 2px;
    width: 100%;
    background: "white";
    -webkit-transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
    -o-transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
    transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
  }

  .burger:before {
    top: 0;
  }

  .burger::after {
    bottom: 0;
  }

  .burger span {
    position: absolute;
    top: 9px;
    right: 0;
    width: 100%;
    background: "white";
    height: 2px;
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
    -webkit-transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
    -o-transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
    transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
  }

  .menu__item {
    margin-top: 15px;
  }

  .menu__item-link {
    color: #F8EEEF;
  }
}

@media (max-width: 767.98px) {
  .container {
    max-width: 740px;
  }
}

@media (max-width: 495px) {
  .greeting__title {
    font-size: 3rem;
    line-height: 1.2666666667;
  }
}

@media (max-width: 479.98px) {
  .container {
    max-width: none;
  }
}