.contact {
	margin: 0px 0px 73px 0px;

	// .contact__title

	&__title {
		@include font-nunito-bold;
		@include font(2.8rem, 3.8rem);
		margin: 0px 0px 41px 0px;
		text-transform: uppercase;
		text-align: center;
		color: #191018;

      @include media-min(1020px){
         @include font(4.8rem, 4.2rem);
      }
	}

	// .contact__body

	&__body {
		@include flex-center-v;
      @include media-min(1100px){
         @include flex-center;
         align-items: flex-start;
         justify-content: space-between;
      }
	}
   
	// .contact__form
   
	&__form {
      @include flex-center-v;
      align-items: flex-start;
      width: 100%;
      max-width: 524px;
		@include font-nunitosans-regular;
		@include font(1.6rem, 2.2rem);
      

		label {
         //align-self: flex-start;
         margin: 0px 0px 3.3px 0px;
		}

      input, textarea{
         width: 100%;
         padding: 8.5px 8.5px 6.5px 8.5px;
         margin: 0px 0px 33px 0px;
         border: 1px solid rgba(0, 0, 0, 0.2);
         border-radius: 3px;

         &:focus{
            outline: 1px solid rgba(0, 0, 0, 0.4);
            //border: 1px solid rgba(0, 0, 0, 0.5);
         }

         @include media-min(1100px){
            padding: 14px;
         }
      }
      textarea{
         margin: 23px 0px 0px 0px;
         resize: vertical;
      }
	}

	// .contact__form-btn

	&__form-btn {
      margin: 51px auto 51px;

      @include media-min(1100px){
         margin: 51px 0 0 0;
      }

	}

	// .contact__maps

	&__maps {
      //width: 100%;
      //max-width: 512px;
      //max-height: 506px;

      iframe{
        max-width: 100%;
        width: 400px;
        height: 300px;

        @include media-min(621px){
         width: 512px;
         height: 506px;
        }
      }
	}
}

